@page "/"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>UK Lottery</h1>

Welcome to the UK Lottery results

<button onclick="@ViewResultsPage">View Results</button>

@functions
{
    protected void ViewResultsPage()
    {
        UriHelper.NavigateTo("/lotteryresults");
    }
}